*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body{
    background-color: rgb(26, 24, 24);
}
h1{
    font-style: italic;
    color:#fff;
    text-align: center;
    padding:12px;
}
.container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto;
    grid-gap:2em;
}
.player{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px;
}
.name{
    border-radius: 23px;
    padding: 10px 0px;
    width: 100%;
    color:black;
    text-align: center;
    box-shadow: 13px 19px 30px -5px rgba(0,0,0,1);
    -webkit-box-shadow: 13px 19px 30px -5px rgba(0,0,0,1);
    -moz-box-shadow: 13px 19px 30px -5px rgba(0,0,0,1);
}
.name a{
    text-transform: capitalize;
    color:black;
    text-decoration: none;
}
img{
    margin: 2em;
    border-radius: 12px;
    box-shadow: 13px 19px 30px -5px rgba(0,0,0,1);
    -webkit-box-shadow: 13px 19px 30px -5px rgba(0,0,0,1);
    -moz-box-shadow: 13px 19px 30px -5px rgba(0,0,0,1);
}
.tamil-songs{
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    grid-template-rows: auto ;
}
.English-songs{
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    grid-template-rows: auto ;
}

@media only screen and (max-width:768px){
    img{
        height:400px;
        width:300px; 
     }
    .tamil-songs{
        grid-template-columns: auto ;
        grid-template-rows:auto auto auto auto;
    }
    .English-songs{
        grid-template-columns: auto ;
        grid-template-rows:auto auto auto auto;
    }
    img{
        border:-2em;
    }
}
@media only screen and (max-width:600px) {
    img{
        height:300px;
        width:200px; 
     }
    .tamil-songs{
        grid-template-columns: auto ;
        grid-template-rows:auto auto auto auto;
    }
    .English-songs{
        grid-template-columns: auto ;
        grid-template-rows:auto auto auto auto;
    }
    img{
        border:-2em;
    }
}
